{% extends 'base.html' %}{% block content %}
<!-- Back Button -->
<a href="{% url 'plants_index' %}" class="back-btn">
  <span class="material-icons"> arrow_back </span>
</a>
<h1 class="center">{{plant.name}}</h1>
<div class="row">
  <!-- Details Section -->
  <div class="col s12 m6">
    <!-- Details Card -->
    <div class="card">
      <div class="card-content">
        <span class="card-title">Plant Details</span>
        <p>Description: {{plant.description}}</p>
        <p>Light: {{plant.light}}</p>
        <p>Environment: {{plant.environment}}</p>
        <p>Toxicity: {{plant.toxicity}}</p>
        <p>
          Watering Frequency: {{plant.get_watering_frequency_display}}
          ({{plant.watering_frequency}} days)
        </p>
      </div>

      <div class="card-action">
        <a href="{% url 'plants_update' plant.id%}">Edit</a>
        <a href="{% url 'plants_delete' plant.id%}">Delete</a>
      </div>
    </div>

    <!-- Plant Photo -->
    {% for photo in plant.photo_set.all %}
    <img class="responsive-img card-panel" src="{{photo.url}}" />
    {% empty %}
    <div class="card-panel center-align">No Photo Uploaded</div>
    {% endfor %}

    <!-- Plant Photo Upload -->
    <form
      action="{% url 'add_photo' plant.id %}"
      enctype="multipart/form-data"
      method="POST"
      class="card-panel"
    >
      {% csrf_token %}
      <input type="file" name="photo-file" />
      <br /><br />
      <input type="submit" class="btn" value="Upload Photo" />
    </form>
  </div>

  <!-- Maintenance Section -->
  <div class="col s12 m6 l6">
    <form action="{% url 'add_maintenance' plant.id %}" method="POST">
      {% csrf_token %} {{maintenance_form.as_table}}
      <input type="submit" class="btn" value="Add Maintenance" />
    </form>
    <!-- Maintenance Panel (Plant.days_till)-->
    {% if plant.days_till > 2 %}
    <div class="card-panel">
      The {{plant.name}} is currently up to date. ({{plant.days_till}} days
      left)
    </div>
    {% elif plant.days_till <= 2 %}
    <div class="card-panel">
      Maintenance needed in {{plant.days_till}} days.
    </div>
    {% else %}
    <div class="card-panel">The {{plant.name}} might need maintenance.</div>
    {% endif %}

    <!-- Previous Maintenance Table -->
    <table class="striped">
      <thead>
        <tr>
          <th>Date</th>
          <th>Nutrients</th>
        </tr>
      </thead>
      <tbody>
        {% for maintenance in plant.maintenance_set.all %}
        <tr>
          <td>{{maintenance.date}}</td>
          <td>{{maintenance.get_nutrients_display}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}
