{% extends 'base.html' %} {% block content %}

<!-- replace `personal` with {{user.name}} -->
<h2 class="center">{{user.username}}'s Garden</h2>

{% for plant in plants %}

<div class="card hoverable">
  <a href="{% url 'plants_detail' plant.id%}">
    <div class="card-content black-text">
      <span class="card-title">{{ plant.name }}</span>
      <p>Description: {{ plant.description }}</p>
      <p>Toxicity: {{plant.toxicity}}</p>
      <p>Light: {{plant.light}}</p>
    </div>
  </a>
</div>
{% empty %}<h4 class="center">There are no plants yet.</h4> {% endfor %} 
{% endblock%}
