:root {
  --main-color: #091f36;
  --secondary-color: #4f5f76;
  --main-accent: #9e363a;
  --secondary-accent: #0f2862;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

nav {
  background-color: var(--main-color);
}

footer.page-footer {
  background-color: var(--main-color);
  padding-top: 0;
  text-align: right;
}

.vertical-align-middle {
  line-height: normal;
  display: inline;
  vertical-align: middle;
}

.divider-margin-0 {
  margin: 0 !important;
  padding: 0 !important;
}

.back-btn {
  color: black;
}
.back-btn a {
  font-size: 32px;
}
.back-btn span {
  margin: 14px 0 7px 0;
}

.updated {
  margin: 0;
}

.main-content {
  padding-top: 7px !important ;
}

.background {
  background-color: var(--secondary-color);
}
