:root {
  --main-color: #1b2125;
  --secondary-color: #4a212b;
  --main-accent: #00897b;
  --secondary-accent: #e17892;
  --tertiary-accent: #1c3334;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

nav {
  background-color: var(--main-color);
}

footer.page-footer {
  background-color: var(--main-color);
  padding-top: 0;
  text-align: right;
}

input.btn {
  background-color: var(--main-accent);
}

.accent-text {
  color: var(--main-accent);
}

.background {
  background-color: var(--secondary-color);
}

.back-btn {
  color: black;
}

.back-btn span {
  margin: 21px 0 14px 0;
  font-size: 28px;
}

/* .card-action a{
  color: var(--secondary-color) !important;
} */

.divider-margin-0 {
  margin: 0 !important;
  padding: 0 !important;
}

.main-content {
  padding-top: 7px !important ;
}

.secondary-accent {
  background-color: var(--secondary-accent);
}

.updated {
  margin: 0;
}

.vertical-align-middle {
  line-height: normal;
  display: inline;
  vertical-align: middle;
}
