{% extends 'base.html' %}{% block content %}
<h1>About the Home Manager</h1>
<hr />
<p>
  This is an application designed to ease task management around the house and
  increase productivity by delivering the following functionalities:
</p>
<ol>
  <li>Household tasks list</li>
  <li>
    Plant inventory tracking
    <ol style="list-style-type: lower-alpha">
      <li>Watering schedule with "overdue" indication</li>
      <li>Amazon S3 integration for photos</li>
    </ol>
  </li>
  <li>Bill Calendar</li>
  <li>Shopping list</li>
  <li>Notes section</li>
</ol>

{% endblock %}
